<%- include('includes/header') %>

<div class="container py-md-5">
  <%- include('includes/flash') %>
  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">The Small Circle</h1>      
      <p class="lead text-muted">This is a place you can feel safe to say whatever you want! Ladies and gentlemen, I present to you "The Small Circle" that you can sign up and join. Feel free to troll or gossip anyone because the admin doesn't care. But anyway, you're encouraged to leave positive comments and compliment on one another since the admin would feel less embarrassed when he demo this app in a job interview or in case his parents join one day.</p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">

        <% registerErrors.forEach((error) => { %>
          <div class="alert alert-danger small"><%= error %></div>
        <% }) %>

          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password">
          </div>
          
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-block btn-theme-color">Sign up</button>
          
        </form>
      </div>
    </div>
  </div>
  
<%- include('includes/footer') %>